body{

margin:0;
background:#020202;
overflow:hidden;
font-family:Arial;
}


#game{

height:350px;
background:
linear-gradient(#101827,#020202);

border-radius:30px;

border:2px solid gold;

position:relative;

overflow:hidden;

cursor:pointer;

}



#title{

position:absolute;

top:15px;

width:100%;

text-align:center;

font-size:28px;

color:#ffd700;

z-index:5;

text-shadow:0 0 15px gold;

}


#title span{

font-size:18px;
color:white;

}



#world{

position:absolute;

bottom:0;

width:100%;

height:250px;

}



#chick{

position:absolute;

left:70px;

bottom:50px;

font-size:70px;

}



#cat{

position:absolute;

right:-80px;

bottom:50px;

font-size:65px;

}



#lantern{

position:absolute;

display:none;

left:150px;

bottom:90px;

font-size:45px;

z-index:3;

}



#light{

position:absolute;

display:none;

width:120px;

height:120px;

border-radius:50%;

background:rgba(255,220,80,.5);

bottom:60px;

left:220px;

filter:blur(15px);

}



#score{

position:absolute;

top:20px;

left:20px;

color:white;

font-size:20px;

z-index:6;

}



#over{

display:none;

position:absolute;

top:120px;

width:100%;

text-align:center;

font-size:35px;

color:red;

z-index:10;

}


button{

padding:12px 35px;

border-radius:30px;

background:gold;

border:0;

font-size:18px;

}