body{
    margin:0;
    background:#050505;
    text-align:center;
    font-family:Arial;
    color:white;
}


#game{

    height:350px;
    max-width:900px;
    margin:auto;

    position:relative;
    overflow:hidden;

    border-radius:30px;
    border:2px solid gold;

    background:
    linear-gradient(#111827,#020202);

}


#sky{

    position:absolute;
    width:200%;
    height:220px;

    background:
    radial-gradient(circle,#777 1px,transparent 2px);

    animation:skyMove 10s linear infinite;

}


@keyframes skyMove{

from{
transform:translateX(0);
}

to{
transform:translateX(-400px);
}

}



#ground{

    position:absolute;
    bottom:0;

    width:200%;
    height:60px;

    background:#292929;

}



#player{

    position:absolute;

    left:100px;

    bottom:55px;

    font-size:65px;

    transform:scaleX(-1);

}



.jump{

    animation:jump .65s;

}



@keyframes jump{

    0%{
        bottom:55px;
    }

    50%{
        bottom:200px;
    }

    100%{
        bottom:55px;
    }

}




#enemy,
#lantern{

    position:absolute;

    bottom:55px;

    font-size:35px;

}



#enemy{

    right:-100px;

}


#lantern{

    right:-300px;

}



#score{

    position:absolute;

    top:20px;

    left:20px;

    color:gold;

    font-size:22px;

}



#gameover{

    display:none;

    position:absolute;

    top:120px;

    width:100%;

    font-size:35px;

    color:red;

}



button{

    padding:12px 35px;

    border-radius:30px;

    background:gold;

    border:0;

}
